<?xml version="1.0" encoding="UTF-8"?>
	<!-- memberMapper.xml -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.mappers.memberMapper">
	<!-- 회원가입 -->
	<insert id="insertMember">
		insert into tbl_member(userid, userpw, username, useremail) 
		values (#{userid},#{userpw},#{username},#{useremail}) 
	</insert>
	<!-- 로그인 -->
	<select id="loginMember" resultType="com.itwillbs.domain.MemberVO">
		select * from tbl_member
		where userid=#{userid} and userpw=#{userpw}
	</select>
	<!-- 회원정보 조회 -->
	<select id="memberInfo" resultType="MemberVO">
		select * from tbl_member
		where userid=#{id}
	</select>
	<!-- 회원정보 수정 -->
	<update id="memberUpdate">
		update tbl_member set username=#{username}, useremail=#{useremail}, updatedate=now()  
		where userid=#{userid} and userpw=#{userpw}
	</update>
	<!-- 회원탈퇴  -->
	<delete id="memberWithdrawal">
		delete from tbl_member where userid=#{userid} and userpw=#{userpw}
	</delete>
	<!-- 모든 회원 정보 조회 -->
	<select id="getMemberList" resultType="MemberVO">
		select * from tbl_member
	</select>
</mapper>